/*------------------------------------*\
    #MAIN
\*------------------------------------*/

/**
 * CONTENTS
 *
 * GENERIC
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Body.................Style applied directly to body styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 */

/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/

/*------------------------------------*\
    #GENERIC
\*------------------------------------*/

/**
 * Setting box-sizing of all elements to border-box to simplify dimension
 * calculations
 */

@font-face {
  font-family: "futura";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/FuturaPTBook.otf");
}

@font-face {
  font-family: "futura-medium";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/FuturaPTMedium.otf");
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:focus {
  outline: 0;
}

a:visited{
  color: white;
}
a{
  color: white;
}

input{
  background: black!important;
}
/*------------------------------------*\
    #BASE
\*------------------------------------*/

html {
  font-size: 12px;
}

body {
  font-family: futura, 'Roboto Condensed', sans-serif;
  color: white;
  margin: 0;
  background-color: black;
}

/*------------------------------------*\
    #OBJECTS
\*------------------------------------*/

.app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 56px 1fr;
  width: 100vw;
  height: 100vh;
}

.navbar {
  background-color: #141414;
  color: white;
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: 280px 1fr 360px;
  grid-template-rows: 1fr;
}


.navbar--branding {
  grid-column: 1 / 2;
  align-self: center;
  margin-left: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.navbar--branding a {
  font-size: 18px;
  text-decoration: none;
}


.navbar--branding a:last-child{
  margin-right: 10px;
}


.navbar--branding .router-link-active {
  border-bottom: 2px solid #FFC400;
}

.navbar--end {
  grid-column: 3 / 4;
  display: flex;
  align-items: center;
}

.navbar--box {

  grid-column: 3 / 4;
}

.navbar--error{
  color: #FFC400;
  font-size: 18px;
}
.market {
  display: grid;
  grid-template-columns: [start market-place] 400px [chart-and-order-book] 1fr [right] 400px [end];
  grid-template-rows: [start content chart] 70px 350px 250px [orderbook] 1fr [end];
  width: 100%;
  height: 100%;
}

.marketplace {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/

/**
 * PANELS
 */

.panel {
  background: rgba(255,255,255,0.1);
  padding: 1rem;
  overflow-y: auto;
  margin: 5px;
}

.panel__body {
  padding: 1rem 1.8rem 1rem 2rem;
}

.panel--chart {
  grid-column: chart-and-order-book / right;
  grid-row: 2 / 3;
}

.panel--orderbook {
  grid-column: 1 / 2;
  grid-row: 2 / end;
}

.panel--history {
  grid-column: right / end;
  grid-row: content / orderbook;
}

.panel--blotter {
  grid-column: chart-and-order-book / end;
  grid-row: orderbook / end;
  padding: 0;
}
.panel--orderform{
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  padding: 0;
}
/**
 * Buttons
 */

.btn {
  padding: 1rem 2rem 1rem;
  border: 0;
  cursor: pointer;
}

.btn--buy,
.btn--sell {
  background-color: transparent;
  flex: 1;
  color: #b5b5b5;
  text-transform: uppercase;
  font-size: 24px;
}

.btn--buy.is-active,
.btn--sell.is-active {
  color: white;
}

.btn--buy.is-active {
  color: #1CF477;
}

.btn--sell.is-active {
  color: #FF5800;
}

.btn--confirm-buy,
.btn--confirm-sell {
  text-transform: uppercase;
  border: none;
  border-radius: 0;
}

.btn--confirm-buy {
  background-color: #1CF477 !important;
  color: black;
}

.btn--confirm-sell {
  background-color: #FF5800 !important;
  color: black;
}


/**
 * Tabs
 */

.tab-bar {
  display: flex;
}

.tab-bar__tab {
  width: 210px;
  display: inline-block;
  padding: 1rem;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  color: #6F6F6F;
}

.tab-bar__tab.is-active {
  background-color: #2e2e2e;
  color: white;
}

.order-actions {
  display: flex;
  justify-content: space-evenly;
}

.order-actions > * {
  margin: 0 0.5rem;
}

.order-amount {
  width: 100%;
  height: 3rem;
  color: white;
  background-color: #474747;
  border: 1px solid #666;
  border-radius: 2px 0 0 2px;
  border-right: none;
  padding: 0 1rem 0;
  margin-right: 0;

  /* removes outline in input box for Firefox */
  box-shadow:none;
}

.order-fees {
  margin: 2rem 0;
}

.table {
  width: 100%;
  border-spacing:0 5px;
}

.table__header-cell {
  text-align: right;
  padding-right: 1rem;
}

.table__body {
  margin-top: 2rem;
  text-align: right;
}

.table__body::before {
  line-height: 1em;
  content: "\200C";
  display: block;
  colspan: 3;
}

.table__number-cell {
  text-align: right;
}

/**
 * Graphs
 */

.domain {
  stroke: white;
}

.y-axis {
  stroke: white;
}

.x-axis {
  stroke: white;
}

.tick path {
  stroke: white;
}

.chart {
  background-color: #2e2e2e;
}

.no-spinners {
  -moz-appearance: textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/**
Tutorial
 */

.tutorial {
  background-color: black;
  padding-top: 100px;
}

.tutorial-container {
  width: 600px;
  margin: 0 auto;
}

.tutorial-box {
  transition: all 0.3s;
  background-color: white;
  color: black;
  padding: 30px;
  margin: 0 0 5px 0;
}

.tutorial-box.open {
  background: #FFC400;
  padding: 30px;
}

.tutorial-title {
  font-size: 28px;
}

.tutorial-content {
}

.tutorial-description {
  font-size: 18px;
  letter-spacing: -1.03px;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.tutorial-description span:last-child {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
  right: 20px;
  top: 0px;
  font-size: 2em;
}

.tutorial-description .tutorial-number {
  width: 30px;
  height: 30px;
  line-height: 28px;
  border: 1px solid black;
  padding-right: 1px;
  display: inline-block;
  text-align: center;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  margin-right: 10px;
  font-size: 20px;
  color: #4a4a4a;
  letter-spacing: -0.86px;
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: normal;
}

.tutorial-question.open .tutorial-description {
  font-weight: 600;
}

.tutorial-question.open .tutorial-description .tutorial-number {
  color: white;
  background: #4a4a4a;
}

.tutorial-question.open .tutorial-description span:last-child {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  font-weight: normal;
}

@media (max-width: 767px) {
  .tutorial-container {
    width: 100%;
    border-radius: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #D9D9D9;
    padding: 0;
  }

  .content-title {
    font-size: 28px;
    text-align: center;
    font-weight: 600;
  }

  .tutorial-description {
    font-size: 18px;
  }

  .tutorial-box.tutorial-description span:last-child {
    top: 8px;
  }
}

/**
Account
 */

.account {
  background-color: #030217;
}

.account thead th {
  font-size: 12px;
}
.account td{
  text-align: center;
}

.account .symbol {
  font-size: 16px;
}

.account .token {
  font-size: 12px;
}



/**
Wrapeth
 */


.wrap button {
  background: #FFC400;
  border: none;

  width: 230px;
  height: 40px;

  font-size: 20px;

  margin-top: 10px;
}


.wrap input {
  color: white;
  width: 100%;
  height: 45px;
  font-size: 20px;
  text-align: right;
}


/*
Landing
 */

.landing{
  background-color: #F3F6FC ;
  color: black;

  display: grid;
  grid-template-columns:  10vw  1fr 10vw ;
  grid-template-rows: 1fr 15vh;
}


.landing a {
  font-size: 28px;
  text-decoration: none;
  color: black;
  border-bottom: 2px solid black;
  font-weight: bold;
}


.landing--container{
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  display: flex;  justify-content: space-around; height: 70vh;

  min-height: 670px;

}
.landing--footer{
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  background-color:#000;
}

.landing--footer-inner{
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  color: white;
}
.landing--footer-inner a{
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  color: white;
  font-size: 22px;
  border-bottom: 2px solid white;
}

.landing--footer-inner .links{
  display: flex; justify-content: space-between; align-items: center;
  margin-bottom: 10px;
}
.landing--version {
  font-size: 0.875rem;
  color: #909399;
}


#landing--title{
  font-size: 4vw;
  font-weight: bold;
}
#landing--prototype{
  display: flex; align-items: start;
}

#landing--tutorial{
  display: flex; align-items: start;
}

/*
    Override elements UI
*/

/*
  all popper will have the same style, including drop down from select
*/
.el-popper {
  margin-top: 0!important;
  background: black!important;
  border-bottom: 5px solid #FFC400!important;
  border-top: 5px solid #FFC400!important;
  border-right: none !important;
  border-left: none !important;
  border-radius: 0!important;

  color: white!important;


}

.popper__arrow{
  display: none!important;
}

/* override market's token select*/
.el-select .el-input input{
  border: none;
  border-bottom: 4px solid;
  border-radius: 0;
  color: white;
  font-size: 24px;
}

/*disable default border */
.el-select .el-input.is-focus .el-input__inner{
  border: none;
}

.el-notification{
  border-radius:0;
  border: none;
  background-color: #FFC400;
}
.el-notification__content{
  color: black;
}

.el-notification__closeBtn{
  color: black;
}





/*

override approve buttons in Account.js

*/
.account-btn{
  color: black!important;
}

/*
make the icon look sharper
*/
.account-btn i{
  font-weight: 800!important;
}
.account-approved-btn{
  background: #FFC400!important;
  border: none;
}


/*

Responsive

*/

@media screen and (max-width: 480px) {


  .navbar{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .navbar--end{
    display: none;
  }

  .market {
    display: grid;
    grid-template-columns: inherit ;
    grid-template-rows: inherit;
    width: 100%;
    height: 100%;
  }

  .marketplace{
    grid-column: inherit;
    flex-direction: column;
    align-items: stretch;
  }
  .panel--orderform{
    display: none;
  }

  .panel--orderbook{
    display: none;
  }

  .panel--blotter{
    display: none;
  }
  .panel--chart{
    grid-column: inherit;
    grid-row: inherit;
    height: 30vh;
  }
  .panel--history{
    grid-column: inherit;
    grid-row: inherit;

    height: 30vh;
  }

  /*
  landing
  */

  #landing--image{
    display: none;
  }
  #landing--title{
    font-size: 30px;
  }

  #landing--tutorial{
    display: none;
  }

  #landing--prototype{
    display: none;
  }

  #landing--divider{
    display: none;
  }

}

.orderform__label {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.order-input-box {
  display: flex;
}

.order-input-box__token {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;

  border: 1px solid #666;
  border-radius: 0 2px 2px 0;
  border-left: none;

  margin-left: 0;
  padding-right: 1rem;

  background-color: black;

  font-weight: bold;
}
